<!DOCTYPE HTML>
<!--引入thymeleaf命名空间-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- jquery：用户异步发出请求（注：@为thymeleaf的静态资源引入符） -->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <!-- bootstrap：页面展示 -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <!-- jquery-validator：表单校验 -->
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <!-- layer：弹出窗-->
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <!-- md5.js：计算MD的js脚本-->
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <!-- common.js：js通用回调函数 -->
    <script type="text/javascript" th:src="@{/js/common_encode.js}"></script>
    <style type="text/css">
        html,body{
            height:100%;
            width:100%;
        }
        body{
            background:url('/img/bg3.jpg') no-repeat;
            background-size:100% 100%;
        }
        #goodslist td{
            border-top:1px solid #39503f61;
        }
    </style>
</head>

<body>

<!--表单：表单没有指定请求的url，这部分工作交给给了下文的密码处理js脚本-->
<form name="registerForm" id="registerForm" method="post" style="width:50%; margin:0 auto">

    <h2 style="text-align:center; margin-bottom: 20px">添加秒杀商品</h2>

    <div class="form-group">
        <div class="row">
            <label class="form-label col-md-4">商品ID</label>
            <div class="col-md-5">
                <input id="goodsId" name="goodsId" class="form-control" type="text" placeholder="商品ID" required="true"/>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <label class="form-label col-md-4">秒杀价格</label>
            <div class="col-md-5">
                <input id="seckillPrice" name="seckillPrice" class="form-control" type="text" placeholder="秒杀价格" required="true"/>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <label class="form-label col-md-4">商品库存</label>
            <div class="col-md-5">
                <input id="stockCount" name="stockCount" class="form-control" type="text" placeholder="商品库存" required="true"/>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-5">
            <!--login()是一个js脚本-->
            <button class="btn btn-primary btn-block" type="submit" onclick="register()">添加秒杀商品</button>
        </div>
        <!--<div class="col-md-5">-->
        <!--<button class="btn btn-primary btn-block" type="reset" onclick="reset()">重置</button>-->
        <!--</div>-->
    </div>

</form>


<!--处理登录的js脚本，使用ajax异步发送请求完成登录-->
<script>
    function register() {
        $("#registerForm").validate({
            submitHandler: function (form) {
                doRegister();
                console.log("添加商品");
            }
        });
    }


    function doRegister() {

        var goodsId = $("#goodsId").val();
        var seckillPrice = $("#seckillPrice").val();
        var stockCount = $("#stockCount").val();

        // 异步发出登录请求
        $.ajax({
            url: "/goods/insertGoods",// 请求的资源
            type: "POST",
            /*post请求体中的数据*/
            data: {
                goodsId: goodsId,
                seckillPrice: seckillPrice,
                stockCount: stockCount
            },

            // 请求成功时候的回调（data为服务端返回的json对象，其中封装的是CodeMsg对象的数据）
            success: function (data) {
                console.log("success");
                layer.closeAll();
                if (data.code == 0) {
                    layer.msg("添加商品成功");
                    window.location.href = "/goods/aminGoodsList";
                } else {
                    layer.msg(data.msg);
                }
                console.log(data);// 在控制台打印json返回
            },

            // 请求失败时候的回调
            error: function () {
                alert();
                layer.closeAll();
            }
        });
    }
</script>

</body>
</html>